{{ partial "header.html" . }}
<main role="main" class="article-list">

{{ $baseurl := .Site.BaseURL }}
<div class="homepage">
{{ with .Site.Taxonomies.tags }}

  <h1 class="headline">les maux-clés</h1>

  <section class="tags">
    {{ range $name, $value := . }}
    <span class="tag">
      <a href="{{ $baseurl }}/tags/{{ $name | urlize }}">{{ $name }}</a>
      <small>({{ .Count }})</small>
    </span>
    {{ end }}
  </section>

{{ end }}
</div>

  <h1 class="list-title">les articles</h1>
  {{ range .Data.Pages }}
    {{ partial "article-list-item.html" . }}
  {{ end }}
</main>
{{ partial "footer.html" . }}
