{{ partial "header.html" . }}
<main role="main" class="article-list">
  <h1 class="list-title"><a cass="path" href='https://cloud.nry.pw/s/ej2G8wt8dJWRsRe/download?path=%2F1.%20PAROLES&files=Livret240330-8pA4-aImprimerEnBrochure.pdf'>Pour les tubes de l'été, cliquer ici</a></h1>
  <div class="list-parole">
  {{ range .Data.Pages }}
    {{ partial "parole-list-item.html" . }}
  {{ end }}
  </div>
</main>
{{ partial "footer.html" . }}
