</div>

<footer>
  <div class="container">
    <span class="copyright">&copy; {{ .Site.LastChange.Year }} {{ .Site.Title }} - <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> - Photo : AFP </span>
    - <a class="path" href="{{ .Site.BaseURL }}/admin">admin</a>
  </div>
</footer>

</body>
</html>
