{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span>
  <span class="base08">F</span><span class="base09">A</span><span class="base0a">M</span><span class="base0b">E</span>
  <span class="base05">]</span>
  <span class="base0c">le</span>
  <span class="base0d">site</span>
</h1>

<div class="hero explain">
<h1 class="definition">
  <span class="expr base08">Fanfare</span>
  <span class="expr base09">À</span>
  <span class="expr base0a">Manif</span>
  <span class="expr base0b">Engagée</span>
</h1>
<br>
<!-- <h1><a class="path" href='{{ $baseurl }}/présentation'>Pardon ?</a></h1>
  <h1><a cass="path" href='https://rebellyon.info/J-ai-2-potions-la-Fanfare-la-Revolution-25751'>Deuuumandez le programme !</a></h1>
  <h3><a cass="path" href='https://www.papayoux-solidarite.com/fr/collecte/pour-soutenir-les-activites-de-la-fanfare-a-manif-de-lyon'>Collecte pour auto-financer les rencontres mirlitantes du 32 mars</a></h3>
  <h3><a cass="path" href='https://grrrndzero.org/'>Venir à Grrnd Zero</a></h3>
  -->
</div>

<script type="text/javascript" src="{{ "js/fames.js" | relURL }}"></script>

<script>

function choseOne(sigle) {

  var len = sigle.length;
  var index = Math.floor(Math.random() * len);
  var spans = document.getElementsByClassName("expr");
  var explain = sigle[index];

  for (i = 0; i < 4; i++) {
    spans[i].innerHTML = explain[i];
  }
}

choseOne(fames);
</script>

<!--
  <span class="base05"># _</span>
  <div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
  </div>

  <div style="text-align: center;">
  Add your own "<code>layouts/partials/hero.html</code>" to replace this text.
  </div>
-->
