{{ $baseurl := .Site.BaseURL }}
<main role="main" class="homepage">

  {{ partial "hero.html" . }}

  <!--
  <h1 class="headline">la nouvelle</h1>

  <div class="article-list">
    {{ range first 1 (where .Data.Pages "Section" "article") }}
      {{ partial "article-list-item.html" . }}
    {{ end }}
  </div>

{{ with .Site.Taxonomies.categories }}

  <h1 class="headline">Categories</h1>

  <section class="categories">
    {{ range $name, $value := . }}
    <h2 class="category">
      <a href="{{ $baseurl }}categories/{{ $name | urlize }}">{{ title $name }}</a>
      <small>({{ .Count }})</small>
    </h2>
    {{ end }}
  </section>

{{ end }}

{{ with .Site.Taxonomies.tags }}

  <h1 class="headline">les mots-clés</h1>

  <section class="tags">
    {{ range $name, $value := . }}
    <span class="tag">
      <a href="{{ $baseurl }}tags/{{ $name | urlize }}">{{ $name }}</a>
      <small>({{ .Count }})</small>
    </span>
    {{ end }}
  </section>

{{ end }}
-->

</main>
