<article class="list-item parole" itemscope itemtype="http://schema.org/Blog">
  <h2 class="headline" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} (Draft){{ end }}</a></h2>
  <section class="summary">
    {{ .Content }}
  </section>
</article>
